# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
env/
venv/
*.env
.venv/
.direnv/
.project
.vscode/
.idea/
*.egg-info/
build/
dist/
.DS_Store

# Streamlit specific
.streamlit/


# Jupyter Notebooks
.ipynb_checkpoints/